
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
padding-top:100px;
background:#0b0b0b;
color:white;
}
.hero-image{
    width:100%;
    height:auto;
    max-width:1200px;
    display:block;
}
header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:black;
z-index:1000;
}

.logo{
height:80px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}
.inicio{
    background-image:(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/Titan.JPG");
    background-size:cover;
    background-position:center;
    
    height:100vh;
}
.hero{
background-image:none;
background-size:cover;
background-position:center;

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.s{
    background-image:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/unidadestitan.JPG");
    background-size:100% 100%;
    background-position:center;
   
    height:auto;
}
.contacto{
    background-image:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/titancontacto.JPG");
    background-size:100% 100%;
    background-position:center;
    
    height:auto;
}
.serv{
    background-image:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/unidades.JPG");
    background-size:100% 100%;
    background-position:center;
    
    height:auto;
}

.cobertura{
    background-image:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/cobertura.JPG");
    background-size:100% 100%;
    background-position:center;
   
    height:auto;
}
.joinus{
    background-image:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/joinus.JPG");
    background-size:100% 100%;
    background-position:center;
    
    height:auto;
    align-items:center;
}

.unete{
    background-image:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("imagenestitan/unete.JPG");
    background-size:100% 100%;
    background-position:center;
   
    height:auto;
}
    
h1{
font-size:4rem;
color:#ff6a00;
text-align:center;
}
.hero h1{
font-size:4rem;
color:#ff6a00;
text-align:center;
}
h2{
font-size:3rem;
color:white;
text-align:center;
}
.btn{
background:#ff6a00;
color:white;
padding:15px 30px;
text-decoration:none;
margin-top:20px;
border-radius:8px;
}

section{
padding:60px 20px;
}

.cards{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#000000;
padding:25px;
border-radius:12px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:500px;
margin:auto;
}

input,
select,
button{
padding:12px;
border:none;
border-radius:8px;
}

button{
background:#ff6a00;
color:white;
cursor:pointer;
}

#resultado{
margin-top:20px;
text-align:center;
font-size:24px;
font-weight:bold;
}

.whatsapp{
position:fixed;
right:20px;
bottom:20px;
background:#25D366;
width:60px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:30px;
color:white;
text-decoration:none;
}

.wsp{
left:200px;
bottom:20px;
background:#25D366;
width:90%;
max-width:300px;
height:40px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50px;
font-size:20px;
color:white;
text-decoration:none;
}
@media (max-width:768px){
    .hero,.serv,.s,.cobertura,.contacto,.joinus,.unete{
        background-attachment:scroll;
        background-size:cover;
        background-position:center;
    }
    header{
        flex-direction:column;
    }
    nav{
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }
    nav a{
        font-size:14px;
        margin:5px;
    }
    h1{
        font-size:2rem;
    }
    h2{
        font-size:1.5rem;
    }
    .hero h1{
        font-size:2.5rem;
    }
    section{
        padding:40px 10px;
    }
    body{
        padding-top:120px;
    }
}